* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightcyan;
}
/* heading */
h1 {
    text-align: center;
    margin-top: 30px;
}
/* rules on landing page */
h2 {
    background-color: lightgray;
    margin: 10px;
}
.info-box{
    background-color: gray;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
}
#rules {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: lightgrey;
    display: none;
}
li {
    list-style-type: none;
}
/* game area */
.game-area {
    background-color: lightgray;
    width: 90%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 3px;
}
.questions-area h2 {
    font-size: 25px;
    color: black;
    font-weight: 600;
}
.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    transition: all 0.3s;
}
/* disable cheating */
.btn:hover:not([disabled]) {
    background: black;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn {
    background-color: darkgray;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 3px;
    padding: 10px;
    margin: 20px auto 0;
    display: block;
    display: none;
}
/* colorcode answer boxes */
.correct{
    background: green;
}
.incorrect{
    background: lightcoral;
}
